<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AscensionGameDev.Lidgren.Network" version="1.7.4.9" targetFramework="net462" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net461" developmentDependency="true" />
  <package id="DockPanelSuite" version="3.0.4" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.4" targetFramework="net461" />
  <package id="Fody" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="15.5.31" targetFramework="net461" />
  <package id="Mono.Data.Sqlite.Portable" version="1.0.3.5" targetFramework="net45" />
  <package id="MonoGame.Framework.WindowsDX" version="3.8.0.1641" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="SharpDX" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Direct3D9" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.MediaFoundation" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.XAudio2" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.XInput" version="4.0.1" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net45" />
</packages>