<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs/client;"/>
    </assemblyBinding>
    <!-- Treat assemblies from network locations as fully trusted. -->
    <loadFromRemoteSources enabled="true" />
  </runtime>
</configuration>