@page
@{
    ViewData["Title"] = WebResources.Privacy;
}

<article>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id diam a metus rhoncus varius. Fusce vestibulum neque vitae vestibulum finibus. Etiam quis est a lorem semper posuere. Fusce tempor diam in sem sollicitudin, nec cursus dui blandit. Proin vel pellentesque nunc, eget malesuada orci. Nullam consectetur erat magna, nec porta ante rutrum vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit sagittis dui non pellentesque. Mauris gravida ex enim, eget scelerisque massa volutpat sed. Nulla dictum, augue non pulvinar congue, mi neque fringilla lorem, in tincidunt dui purus quis magna. Sed a eros vel erat scelerisque blandit at ac neque. Mauris vel augue at ex dapibus dapibus. Morbi facilisis varius augue, eu lobortis magna mattis id.
    </p>
    <p>
        Proin quis sagittis lacus. Quisque sollicitudin aliquet feugiat. Proin vehicula euismod velit, eu condimentum tellus luctus id. Cras in aliquet velit. Vivamus sit amet mi non enim feugiat interdum. Quisque lobortis, sem id tristique accumsan, tellus eros eleifend orci, ut sodales mi turpis eget lorem. Aliquam turpis sapien, interdum vel vulputate eget, luctus et leo. Fusce tempus ultrices tempor. Sed porta mauris lacus, at feugiat erat ultrices sed.
    </p>
    <p>
        Ut pretium vestibulum pretium. Ut laoreet ultrices nunc, a hendrerit nibh tempor eu. Aenean scelerisque lacinia risus a ullamcorper. Aenean viverra sapien a urna fermentum, ac lobortis libero molestie. In luctus, urna ut scelerisque blandit, nunc nunc malesuada neque, quis commodo leo eros non tellus. Duis magna felis, ultricies non ultrices lacinia, vestibulum sodales dolor. Donec congue volutpat imperdiet. In sit amet magna tellus. Praesent vitae dictum diam. Quisque congue viverra sem. Proin non dolor hendrerit lectus sodales iaculis quis ac eros. Quisque eget metus lobortis, tincidunt libero et, tristique odio. Curabitur aliquam nulla sed semper aliquet. Nulla quam metus, pretium sed condimentum eget, ultricies sed neque. Sed id placerat enim, vitae rutrum sem.
    </p>
    <p>
        Suspendisse porta pulvinar mauris, ac congue elit gravida et. In hac habitasse platea dictumst. Curabitur scelerisque arcu quis convallis condimentum. Mauris congue blandit scelerisque. Sed lacinia tortor facilisis neque ultricies feugiat. Nam non est et arcu sollicitudin malesuada. Sed consectetur leo dui, vitae vulputate nulla euismod vitae. Aliquam eu nisi in nunc sollicitudin aliquam. Donec fringilla, metus eget aliquet placerat, arcu odio interdum urna, eget dictum orci orci sed turpis. Vestibulum non lectus tincidunt ex aliquet maximus. Nulla facilisi. Pellentesque sit amet nulla finibus, auctor augue id, lacinia sapien. Proin condimentum aliquet mi cursus pretium.
    </p>
    <p>
        Nullam vel semper odio, vel euismod velit. Integer eleifend ipsum pellentesque, blandit lectus nec, bibendum nisi. Aliquam eget elit fermentum, convallis nisi lacinia, congue mi. Maecenas vitae varius nisl. Nulla eget consectetur ligula, id viverra ligula. Morbi eget ligula ac leo consequat venenatis vitae ut tortor. Mauris leo velit, molestie sed lacus eget, auctor lacinia velit. Proin ac commodo quam, a pretium risus. Ut vitae ornare justo.
    </p>
    <p>
        Nulla dignissim bibendum quam, sit amet luctus est molestie vitae. Duis vitae justo vel nisi luctus dignissim. Phasellus facilisis, libero et luctus aliquam, orci purus rhoncus lectus, eleifend condimentum sem elit a orci. Etiam scelerisque ex a orci gravida convallis. Nunc ut pellentesque ante. Ut vehicula dolor eu nisi aliquam dapibus. Nullam lacinia, sem id rhoncus hendrerit, arcu risus pellentesque diam, lacinia rhoncus purus nibh in augue. Phasellus et justo ac dolor consectetur dictum. Maecenas laoreet vulputate accumsan. Sed non eleifend justo. Nam eget maximus tellus, ac ullamcorper nisi. Etiam iaculis, ante tincidunt lacinia tincidunt, magna elit mattis lectus, id elementum est ipsum sed risus.
    </p>
    <p>
        Aenean euismod urna vel tortor sollicitudin, id tristique libero auctor. Nulla luctus congue nisi eget rhoncus. Duis mollis malesuada semper. Vestibulum eleifend sem odio, a sagittis augue aliquet vitae. Sed eleifend sollicitudin magna nec rhoncus. Curabitur sed venenatis libero, non malesuada ante. Ut et ex et ligula tempus varius.
    </p>
    <p>
        Etiam at posuere ipsum, eget dignissim ante. Integer purus turpis, cursus quis egestas elementum, luctus ut nisi. Nullam non pellentesque sapien. Nunc aliquam urna tellus, quis pharetra eros feugiat eget. Nulla facilisi. Suspendisse sed augue sit amet nunc placerat ornare dictum vitae neque. Cras dui augue, pellentesque vel massa sit amet, lacinia fringilla odio.
    </p>
    <p>
        Curabitur vitae bibendum justo. Pellentesque sed tellus eu lectus maximus mattis. Integer ornare, augue quis pharetra imperdiet, metus sem elementum metus, vel consequat ex odio sollicitudin tortor. Integer lacinia finibus augue eget scelerisque. Mauris pulvinar purus non pretium posuere. Quisque iaculis lorem nisi, vitae suscipit tortor auctor eu. Donec ultricies, augue a feugiat ultricies, erat tellus sagittis urna, eget feugiat tortor eros ut enim.
    </p>
    <p>
        Fusce at orci quis mi mattis convallis. Vestibulum dapibus mi et nisl faucibus auctor. Donec vitae vulputate purus, eu ultrices ipsum. Integer euismod urna sagittis risus finibus congue. Nulla ultricies metus et nisl porttitor finibus. Nam commodo leo iaculis, porta ante eu, congue eros. Cras luctus erat faucibus aliquam pellentesque. Donec quis commodo elit. Quisque vehicula quam ante, gravida semper est rhoncus quis. Cras consequat felis vel porta rutrum. Proin a nulla lectus.
    </p>
    <p>
        Fusce imperdiet, nunc nec auctor aliquam, quam enim sagittis magna, sed molestie lacus turpis eu mi. Phasellus mollis ornare nunc vitae dapibus. Cras vulputate sapien ut augue facilisis hendrerit. Proin at faucibus ex, at consequat libero. Aenean egestas enim leo, eget lobortis dolor ornare nec. Nunc pellentesque risus a accumsan laoreet. Etiam in erat consequat, varius justo id, vulputate nibh. Quisque lacinia congue vehicula. Donec malesuada sollicitudin massa, id posuere nisi vestibulum quis. Nullam nec aliquet justo. In facilisis, sem ac euismod hendrerit, neque enim eleifend risus, dapibus vulputate ante nisi sed ligula. Nam pretium est feugiat tellus pretium tempus vel eu nunc. Aliquam erat volutpat.
    </p>
    <p>
        Maecenas congue ante non risus sollicitudin porttitor. Sed scelerisque, odio at tempor accumsan, arcu lorem euismod turpis, at tempor tellus ex sit amet lorem. Quisque venenatis iaculis dui, eget luctus lacus iaculis ut. Pellentesque scelerisque eu orci ac ornare. In vel est eget augue pellentesque finibus vel id lectus. Maecenas vulputate purus eget turpis vehicula dictum. Aenean convallis ultricies turpis, at volutpat eros venenatis vitae. Quisque at tincidunt velit, ut finibus leo. Nam porta ipsum eget enim varius egestas. Nulla eu posuere augue. Vestibulum egestas viverra viverra. Sed sem diam, hendrerit vel vestibulum et, ultricies sed erat. Donec eleifend, arcu et rutrum dignissim, lectus dui commodo nibh, et condimentum tellus justo vel ex. Vivamus aliquet vestibulum purus, non congue dolor suscipit id.
    </p>
    <p>
        Vivamus in ultricies augue. Etiam at ultricies dui. In facilisis mattis leo sed elementum. Nunc ultricies sem sapien, ut eleifend purus pellentesque eget. Vestibulum lacinia eget metus et sollicitudin. Maecenas quis turpis et metus eleifend auctor sit amet a tellus. In ultrices tellus vitae molestie fermentum. Phasellus venenatis, ligula non aliquam lacinia, ante purus porta justo, sit amet rutrum diam mi vitae libero. Vivamus pellentesque ipsum nec euismod sollicitudin. In quis lectus a felis egestas pretium. Vestibulum mi urna, ullamcorper eu cursus in, ullamcorper vel augue. Proin ac dui rhoncus, tristique est sed, laoreet sapien. In ut eleifend neque.
    </p>
    <p>
        Cras in magna sit amet massa laoreet varius vehicula sit amet libero. Aliquam tellus ante, congue vitae arcu quis, vehicula facilisis odio. Mauris ut viverra massa. In et nulla neque. Quisque vel leo ligula. Mauris tempor mi at velit pretium rutrum nec ac nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus nec tempus diam, a posuere diam. Suspendisse molestie augue magna, at posuere eros dignissim vel. Proin cursus bibendum odio, quis pretium justo venenatis non.
    </p>
    <p>
        Sed finibus enim ut porta posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et condimentum turpis. Pellentesque varius purus ac ligula euismod vestibulum. Morbi vulputate sagittis orci, ac malesuada turpis faucibus in. Sed porttitor nibh cursus aliquam efficitur. Mauris eleifend sed ex sit amet venenatis. Nulla pellentesque ex sed semper cursus. Pellentesque mollis faucibus dui, pulvinar euismod massa dapibus eget. Curabitur nec est suscipit, scelerisque nisi at, condimentum tortor. Quisque non libero enim. Curabitur mattis ex non egestas sodales.
    </p>
</article>